# Python
__pycache__/
*.py[cod]
*$py.class
.Python

# Entornos virtuales
venv/
.venv/
env/
.env
.env.*
.python-version

# Build y distribución
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/

# Django
db.sqlite3
media/
staticfiles/
static/
logs/
*.log
celerybeat-schedule

# Tests y cobertura
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
nosetests.xml
test-results/

